/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,400italic);
/* line 42, /Users/yuchen/Projects/application-portal/app/assets/stylesheets/application.scss */
body {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
}
/*


 */
/* line 14, /Users/yuchen/Projects/application-portal/app/assets/stylesheets/home.scss */
.button, a.button {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.6em 1.1em;
  margin: 0.3em;
  border-radius: 0.3em;
  -webkit-font-smoothing: antialiased;
  transform: translate3d(0, 0, 0);
  background-color: #fff;
  color: #111;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0, 1.5, 0.5, 1);
}

/* line 28, /Users/yuchen/Projects/application-portal/app/assets/stylesheets/home.scss */
.button:hover {
  transform: scale(1.1) translate3d(0, 0, 0);
}

/* line 31, /Users/yuchen/Projects/application-portal/app/assets/stylesheets/home.scss */
.button--primary, a.button--primary {
  font-size: 1.2em;
  background-color: #66C2A6;
  color: #fff;
}

/* line 36, /Users/yuchen/Projects/application-portal/app/assets/stylesheets/home.scss */
.button--secondary, a.button--secondary {
  background-color: #F07C6C;
  color: #fff;
}

/* line 40, /Users/yuchen/Projects/application-portal/app/assets/stylesheets/home.scss */
.button--social, a.button--social {
  padding-left: 0.6em;
  padding-right: 0.6em;
  min-width: 1em;
}

/* line 45, /Users/yuchen/Projects/application-portal/app/assets/stylesheets/home.scss */
.button--simple, a.button--simple {
  font-weight: normal;
  background-color: transparent;
  color: #fff;
}
