<div class="landing">
  <img class="landing__logo" src="<%= image_url("moonlogo.png")%>" alt="Tech Retreat"/>
  <h2>
    Join us for Tech Retreat 2016!
  </h2>
  <div>
    <a class="button button--primary" href="/apply">Apply now</a>
  </div>
  <div>
    <a class="button button--secondary" href="/login">Edit Application</a>
  </div>
</div>