// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require_tree .
 *= require_self
 */

@import "variables";

.landing{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__logo{
    width: auto;
    height: 200px;
  }
}
