@import "variables";
@import "fonts";

.signup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  background-color: $primary;
  color: $light;

  h1 {
    font-size: 3em;
    @include OpenSansLight;
  }
}
.screen {
  flex: 0;
  overflow: hidden;
  height: 100vh;
  margin-top:0;
  transition: all ease-in-out 0.4s;
  padding: 0 2em;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.screen--future {
    height: 0;
    .screen__nav {
      opacity: 0;
      transform: translateY(10vh);
    }
  }
  &.screen--closed {
    margin-top: -100vh;
    opacity: 0;
  }

  .field {
    display: flex;
    width: 100%;
    max-width: 500px;
    font-size: 1.3em;
    margin: 0.5em 0;

    label {
      flex: 1;
    }
    input {
      flex: 2;
    }
  }

  .screen__nav {
    transition: all ease-in-out 0.4s;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0;
  }
}
